- content_for :title, t("app.title.home")

= render MainPage::UserWelcomeComponent.new(user: current_user)
= render MainPage::UserStatsComponent.new(user: current_user)
= render MainPage::ContinueLearningComponent.new(user: current_user)
